/* ---------------------------------------------------------
   Testimonial
   ---------------------------------------------------------*/

// testimonial
.testimonial {
    margin: 0 0 44px;

    @include media('<desktop') {
        font-size: 17px;
        margin-bottom: 26px;
    }

    q,
    cite {
        display: block;
    }

    q {
        margin-bottom: 37px;
        font: 300 26px/1.44 $roboto-slab;

        @include media('<widescreen') {
            font-size: 20px;
        }

        @include media('<tablet') {
            font-size: 17px;
        }
    }

    cite {
        text-align: right;
        font-style: normal;

        span {
            display: block;
        }

        .person {
            font-size: 32px;

            @include media('<widescreen') {
                font-size: 24px;
            }
        }

        .job {
            font-weight: 600;

            @include media('<widescreen') {
                font-size: 14px;
            }
        }
    }
}